/*
* variables des couleurs
* Henri arrête de supprimer metro.css
*/

body{
	margin:0;
	background-color:#f9f2e8 !important;
        /* 2 : #1da3b9 */
        /*#369 */
	overflow:auto;
}

.btn1, .btn2, .btn3, .btn4, .btn5, .btn6{

	color:#FFF;
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
	padding:10px;
	text-align:left;
	margin-bottom:2%;
}

.btnMetro
{
	height:10em;
	font-size:1.9em;
  	cursor:pointer;

}

#backbutton
{
	cursor:pointer;
}

.btn1{
	background:#4fb19d;
        /* 3 : #58886e; */
        /* 2 : #e43424;*/
        /* 1 : #06F;*/



}
.btn2{
	background:#e23a6e;
        /*#76a9b0;*/
        /*#0d9459;*/
        /*#C30;*/

}

.btn3{
	background: #f2b30e;
        /*#f0b420;*/
        /*#005ba1;*/
        /*#F60;*/

}

.btn4{
	background:#e85f22;
        /*#dd322b;*/
        /*#e27728;*/
        /*#C3C;*/

}

.btn5
{
    background: #221d1d;
}

#contentApp, #contentCompte{
	z-index:0;
	display: none;

	width:100%;

}



#pagecaption{
	position:relative;
	top:-60px;

	color:#FFF;
	font-size:2em;
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
}











.articleMetro
{
	color: white;
    font-size:1.5em;
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;

    text-align: justify;
}


.truckHeader
{
	background-color:#221d1d;
        /*#333;*/
	color: white;
	font-size:2.5em;
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
	padding-top:2%;

}

.sectionBody
{
	margin-top:2%;
}

.productGallery img
{
    width:10em;
}

.productGallery
{
    padding:0.5em;
    display:inline-block;
  	cursor:pointer;

}

.productGallery img:hover
{
    background: gray;
      opacity: 0.5;

}

.productGalleryToggleButton
{
    text-align:center;
    /*display:none;*/
}

.productGalleryToggleButton *
{
    padding: 0.5em;

}

.prixProduct
{
    font-size:0.7em;
}

.compte
{
  	cursor:pointer;
    border-radius: 0.4em 0.4em 0 0;

}

.compte p
{
    text-align: center;

}

.compte:hover
{
    background-color:#382f2f;
}

.bannerMetro img
{
    width:70%;
}

@media screen and (max-width: 768px) {
  .bannerMetro img
    {
        width:100%;
    }
}

@media screen and (min-width: 768px) {
  .bannerMetro img
    {
        width:60%;
    }
}
