/*
* variables de couleur
*/

body{
	margin:0;
	background-color:#f9f2e8 !important;
        /* 2 : #1da3b9 */
        /*#369 */
	overflow:auto;
}

#btn1, #btn2, #btn3, #btn4, #btn5, #btn6{
	position:relative;
	cursor:pointer;

	height:10em;
	color:#FFF;
	font-size:25px;
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
	padding-left:10px;
	text-align:left;
	margin-bottom:2%;
}


#btn1{
	background:#4fb19d;
        /* 3 : #58886e; */
        /* 2 : #e43424;*/
        /* 1 : #06F;*/



}
#btn2{
	background:#e23a6e;
        /*#76a9b0;*/
        /*#0d9459;*/
        /*#C30;*/

}

#btn3{
	background: #f2b30e;
        /*#f0b420;*/
        /*#005ba1;*/
        /*#F60;*/

}

#btn4{
	background:#e85f22;
        /*#dd322b;*/
        /*#e27728;*/
        /*#C3C;*/

}
#btn5{
	background:#1da3b9;
        /*#F36;*/

}

#btn6{
	background:#6C0;

}

#content{
	z-index:0;
	display: none;

}

#content iframe{
	background:#e85f22;

	width:100%;
	min-height:500px;
	float:left;

}



#pagecaption{
	position:relative;
	top:-60px;

	color:#FFF;
	font-size:2em;
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
}











.article_content
{
	color: white;
    font-size:2.5em;
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
}


.truckHeader
{
	background-color:#221d1d;
        /*#333;*/
	color: white;
	font-size:2.5em;
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
	padding-top:2%;
	padding-bottom:2%;

}

.sectionBody
{
	margin-top:2%;
}
